[submodule "oar.apps.webspa"]
	path = oar.apps.webspa
	url = https://github.com/huseyindeniz/oar.apps.webspa.git
	branch = master
[submodule "oar.apps.mobile"]
	path = oar.apps.mobile
	url = https://github.com/huseyindeniz/oar.apps.mobile.git
	branch = master
[submodule "oar.apigateways.web"]
	path = oar.apigateways.web
	url = https://github.com/huseyindeniz/oar.apigateways.web.git
	branch = master
[submodule "oar.apigateways.mobile"]
	path = oar.apigateways.mobile
	url = https://github.com/huseyindeniz/oar.apigateways.mobile.git
	branch = master
[submodule "oar.services.catalog"]
	path = oar.services.catalog
	url = https://github.com/huseyindeniz/oar.services.catalog.git
	branch = master
[submodule "oar.eventbus"]
	path = oar.eventbus
	url = https://github.com/huseyindeniz/oar.eventbus
	branch = master
